{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<h1>Liste des étudiants</h1>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom de famille</th>
        <th scope="col">Numéro de Tel</th>
        <th scope="col">Departement</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <th scope="row"> {{ student.id }}</th>
        <td>{{ student.firstname }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.numEtud| strpad(10,'0')}}</td>
        <td>{{ student.department.name is defined ?  student.department.name : ' '  }}</td>

        <td>
            <a href="{{ path('app_student_edit', {'id': student.id}) }}">
                <button type="button" class="btn btn-primary">Modifier</button>
            </a>
            <a href="{{ path('app_student_delete', {'id': student.id}) }}">
                <button type="button" class="btn btn-danger">Supprimer</button>
            </a>
        </td>

    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}
