{% extends 'base.html.twig' %}

{% block title %}Hello DepartmentController!{% endblock %}

{% block body %}
    <h1>Liste des departements</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Department</th>
            <th scope="col">Capacity</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <th scope="row"> {{ department.id }}</th>
                <td>{{ department.name }}</td>
                <td>{{ department.capacity }}</td>
                <td>
                    <a href="{{ path('app_department_edit', {'id': department.id}) }}">
                        <button type="button" class="btn btn-primary">Modifier</button>
                    </a>
                    <a href="{{ path('app_department_delete', {'id': department.id}) }}">
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </a>
                </td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
